* {
margin: 0;
padding: 0;
}

body {
text-align: center;
text-transform: capitalize;
font-size: 18px;
color: #fffafa;
font-weight: bold;
font-family: Helvetica;
overflow-x: hidden;
margin: 0 auto;
}

/* Header */

header {
display: flex;
position: fixed;
height: 4rem;
background-color: black;
z-index: 5;
width: 100%;
}

.logo {
display: flex;
color: white;
padding-left: 4rem;
}

.logo img {
height: 1.5rem;
padding: 1.2rem 1rem;
}

.logo h3 {
position: relative;
top: 0.75rem;
font-size: 1.1rem;
padding-top: 0.66rem;
padding-bottom: 0.66rem;
}

/* Banner */

.banner {
background-image: url('./images/moto.jpeg');
background-position: center;
background-size: cover;
height: 25rem;
position: relative;
top: 4rem;
}

.arrival {
display: block;
background-color: black;
padding: 2rem 3rem;
position: relative;
width: 20rem;
height: 6rem;
top: 9rem;
left: 10rem;
border-radius: 5px;
text-align: left;
}

.arrival h4 {
font-size: 1rem;
padding-bottom: 0.75rem;
}

.arrival h2 {
font-size: 2rem;
line-height: 1.1;
}

/* Navigation */

.navigation {
display: flex;
position: relative;
background-color: firebrick;
top: 2rem;
}

.desktop {
display: flex;
}

.mobile {
display: none;
}

ul {
display: flex;
position: relative;
left: 10rem;
}

li {
padding: 0.75rem 3rem;
text-align: center;
}

/* Images */

.images {
margin-top: 5rem;
display: flex;
position: relative;
}

.side {
display: inline-block;
width: 30%;
height: 9rem;
margin: 1rem;
}

.images img {
padding: 2rem;
width: 215px;
height: 120px;
border: 3px solid black;
}

.side h3 {
color: snow;
background-color: black;
padding: 0.5rem;
margin: 1rem;
position: relative;
bottom: 1.2rem;
left: 2.1rem;
width: 16.80rem;
}

/* Content */

.content {
display: flex;
position: relative;
top: 5rem;
margin-top: 3rem;
}

.location h3,
.hour h3{
background-color: black;
padding: 1rem 8rem 1rem 2rem;
width: 35%;
}

.location {
margin-left: 4rem;
}

.hour {
margin-left: 12rem;
}

.content h4 {
color: black;
padding-top: 1rem;
text-align: left;
}

/* Footer */

footer {
background-color: black;
height: 5rem;
text-align: left;
margin-top: 6rem;
}

h5 {
position: relative;
top: 2rem;
left: 2rem;
}

@media only screen and (max-width: 1024px) {

 body {
     margin: 0 auto;
 }

header {
width: 97.1%;
}

ul {
display: flex;
position: relative;
left: 1.7rem;
}

.side h3 {
position: relative;
left: 0;
width: 16.60rem;
}
}

@media only screen and (max-width: 700px) {
.side h3 {
position: relative;
left: 0;
}
}
